@font-face {
    font-family: "Roboto";
    src: url("../static/fonts/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("../static/fonts/Roboto-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url("../static/fonts/Roboto-Light.ttf");
    font-weight: 300;
}

:root{
    --dark-background-color: 51, 51, 51;
    --light-background-color: 212, 212, 212;
    --dark-text-color: white;
    --light-text-color: white;
    --light-text-color-settings: black;
    --dark-line-color: white;
    --light-line-color: white;
    --opacity: .3;
    --font: 'Roboto', sans-serif
}