*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font);
}

.input_form{
    margin: 10px;
}

.input_form > div{
    margin: 11px 0;
}

#version{
    position: absolute;
    z-index: 99;
    bottom: 5px;
    left: 11px;
    font-size: 12px;
}